@value colors: '../styles/colors.module.css';

@value main, _red from colors;

.input {
    width: 300px;
    height: 30px;
    padding: 0 30px 0 6px;
    border-radius: 4px;
    border: 2px solid main;
    margin-right: 12px;
    outline: none;
}

.label {
    display: block;
}

.input__file {
    background-color: red;
}

.input__icon--error {
    color: _red;
}

.input__valid {
}

.input__invalid {
    border-color: _red;
}
