@value colors: '../../styles/colors.module.css';
@value spacings: '../../styles/spacings.module.css';
@value fonts: '../../styles/fonts.module.css';

@value light-gray, main from colors;
@value button-padding, main-spacing, main-padding from spacings;
@value font-lg from fonts;

.downloads__container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.download {
    width: 80%;
    min-width: 500px;
    max-width: 800px;
    padding: main-padding;
    border-bottom: 1px solid light-gray;
}

.download__content {
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.download__link--container {
    height: 50px;
    display: flex;
    margin-left: main-spacing;
}

.downloads__button {
    display: flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    background-color: main;
    border: 1px solid main;
    padding: button-padding;
    text-decoration: none;
    text-transform: uppercase;
    font-size: font-lg;
    cursor: pointer;
    transition: all 0.5s ease;
}

.downloads__button:hover {
    background-color: white;
    color: main;
}
